div.jqZoomTitle
{
	z-index:5000;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	height:16px;
	padding-top:2px;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #FFF;
	background: #999;

}

.jqZoomPup
{
	overflow:hidden;
	background-color: #FFF;
	opacity: 0.3;
	z-index:10;
	cursor:none;
	padding: 0;
	margin: 0;
}

.preload{
	opacity: 0.8;
	color: #333;
	font-size: 12px;
	font-family: Tahoma;
   text-decoration: none;
	border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
	text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
	width:90px;
	height:43px;
	z-index:10;
	position:absolute;
	top:3px;
	left:3px;

}

.placeholder {
	display: block;
	float: left;
	border: 1px solid #999;
	position: relative;
	margin: 0;
	padding: 0;
}

.zoom-wrapper img.thumbs {
	width: 210px;
}

.jqZoomWindow {
	border: 1px solid #999;
	background-color: #000;
	margin-bottom: 10px;
}

img.zoomer  {
	height: 125px !important;
}

.zoom-wrap {
	background: #000;
	float: right;
	margin: 0 0 5px 0;
	width: 210px;
}

.zoom-wrapper .zoom-wrap a:hover {
	text-decoration: none;
}
.zoom-wrapper .zoom-wrap span {
	cursor: none;
	font-size: 1.2em;
	margin: 0;
	bottom: 10px;
	color: #fff;
	font-family: verdana, arial;
	z-index: 99999;
	position: absolute;
	left: 152px;
	background: #000;
}

.zoom-wrapper p {
	font-size: 0.9em;
	color: #666666;
	font-weight:bold;
}

.jqZoomPup {
	border: 1px solid #fff;
	width: 86px !important;
}

.zoom-wrapper {
	position: relative;
	margin: 0px;
	padding: 0;
	clear: both;
	height: 276px;
}

.zoom-wrapper p {
	float: right;
	width: 210px;
	margin-top: 10px;
}
